// Specific CSS for your home-page

// MAIN DIV
.items {

}

.items h1 {
  text-align: center;
  margin: 20px;
  color: #1400F5;
}
// FIRST PART OF THE PAGE
.item {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item_content_left {
  margin-right: 50px;
}

.item_content_right {
  margin-left: 50px;
}

// SIGN UP
.sign_up {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// EDIT PROFILE
.edit_profile {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// SHOW PROFILE
.show_profile {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show_profile_link {

}
