// Specific CSS for your home-page

// MAIN DIV
.items {

}

// FIRST PART OF THE PAGE
.discover {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.discover_content {
  margin-right: 50px;
}

// SIGN UP
.sign_up {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// EDIT PROFILE
.edit_profile {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// SHOW PROFILE
.show_profile {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show_profile_link {

}
