// Specific CSS for your home-page

// MAIN DIV
.home_items {
 background-color: rgb(41, 41, 41);
}

.home_items h1 {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
  color: #ffffff;
  border-top: 1px solid #ffffff;
  margin-left: 150px;
  margin-right: 150px;
}

.home_items h2 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
}

.home_items h4 {
  color: #ffffff;
  font-family: inherit;
}

.home_items p {
  color: #ffffff;
}

// FIRST PART OF THE PAGE
.home_item {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_item_content_left {
  margin-right: 50px;
}

.home_item_content_right {
  margin-left: 50px;
}

// SIGN UP
.sign_up {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// EDIT PROFILE
.edit_profile {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// SHOW PROFILE
.show_profile {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show_profile_link {

}

#advantages_banner {
  border-top: 1px solid #ffffff;
  margin-left: 150px;
  margin-right: 150px;
}

.home_centered {

}
