
.mapboxgl-popup {
  max-width: 200px;
  height:100vh;
  top: 0 ;
}

.mapboxgl-popup-content {
  text-align: left;
  font-family: "Open Sans", sans-serif;
  border-radius: 4%;
}

.mapboxgl-popup-content a{
  color: #545955
}
