#user_index_first_title {
  margin-top: 1%;
}

#user_index_second_title {
  margin-bottom: 1%;
  margin-top: 1%;
}

#user_index_first_title, #user_index_second_title {
  font-family: inherit;
  color: white;
}

#log_user_index {
  background-color: grey;
  margin-bottom: 0px;
  padding-bottom: 2%;
}

#container-wide-user-index {
  background-color: grey;
}

#blue-badge {
  background: #7d73f2;
  transition: opacity 0.3s ease;
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.9em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 3px;
  letter-spacing: 1px;
}

#blue-badge:hover {
  background: #6659f1;
}

.the-mapbox {
  width: 40%;
  height: 100vh;
  position: sticky;
  top: 0;
  border-radius: 1%;
  margin-right: 1%;
 }

 #container-wide-mapbox {
 }

//  button:not(:disabled),
//  [type="submit"]:not(:disabled) {
//   cursor: pointer;
//   text-decoration: none;
//   color: #606060;
//   border: 1px solid #aaaaaa;
//   padding: 8px 24px;
//   border-radius: 1px;
//   font-size: 13px;
// }
