#pending-badge {
  padding: 2%;
  display: block;
  text-align: center;
  background: #04DDF1;
  color: white;
  // font-size: 0.75em;
}

#first_title_dashboard {
  margin: 3%;
  font-family: inherit;
}
