<div class="wrapper-footer">
  <div class="log">
    <h1>Psss it's time to update your fav pet</h1>
    <%= simple_form_for([@user, @pet]) do |f| %>
      What's the name of this lovely pet?
      <%= f.input :name, label: false, wrapper_html: { class: 'forced-columns' } %>
      What's the species of this pet?
      <%= f.input :breed, label: false, collection: ["dog", "cat", "fish", "bird", "rabbit"], multiple: true, as: :check_boxes, wrapper_html: { class: 'forced-columns' } %>

      <%# TO UPDATE the PICTURE OF YOUR PET f.input :photo, as: :file %>
    <div class="form-actions btn btn-ghost">
      <%= f.button :submit, "Update ðŸ¾ !" , class: "btn btn-green"%>
    </div>
    <% end %>
  </div>
</div>
