<h1>Add your lovely pet to your profile</h1>
<%= simple_form_for([@user, @pet]) do |f| %>
  <%= f.input :name %>
  <%= f.input :breed %>
  <%# TO ADD A PICTURE OF YOUR PET f.input :photo, as: :file %>
  <%= f.button :submit, "Add #{@pet.name}" %>
<% end %>
