<h1>Welcome to Petzr homepage</h1>

<p>Discover our amazing search box</p>
<p>when we click on submit we are redirect to user/index</p>

<%= link_to "Discover our pet sitters", users_path  %>
<%= link_to "Sign up", new_user_registration_path  %>

<%# <%= link_to "Review", new_user_review_path(@review) %>
