<div class="banner" id="main_header" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1623387641168-d9803ddd3f35?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80); height: 100vh; padding-top: 20%;">
  <div class="home_centered">
    <h1>Petzr helps you to find the <strong>best</strong> pet sitter!</h1>
    <p>Rest assured with our pet sitter experts</p>
    <%# <% if user_signed_in? %>
      <%= link_to "Discover our pet sitters", users_path, class: "btn btn-green"  %>
    <%# <% else %>
      <%# <%= link_to "Sign up now", new_user_registration_path, class: "btn btn-green"  %>
    <%# <% end %>
  </div>
</div>

<div class="home_items">
  <div id="blank_line">
  </div>
  <div class="banner" id="advantages" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1557246565-8a3d3ab5d7f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80); height: 100vh;">
    <div class="container">
      <h2>Our advantages</h2>
      <h4>Personalised and flexible pet care</h4>
      <p>Petzr sitters provide one-on-one love and attention in a cosy home space.</p>
      <br>
      <h4>Safety first for your peace of mind</h4>
      <p>Petzr dog sitters and pet sitters are vetted by our expert Trust and Safety team.</p>
      <br>
      <h4>A real community</h4>
      <p>Petzr pet sitters are genuine pet lovers from your local neighbourhood.</p>
      <br>
      <h4>Veterinary Coverage</h4>
      <p>Enjoy peace of mind with free veterinary coverage for your pet with every booking. No hidden gap payments or subscription costs.</p>
      <%= link_to "More info", faq_path, class: "btn btn-green"  %>
    </div>
  </div>

  <div id="blank_line">
  </div>
  <div class="banner" id="how_does_it_work" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://a-z-animals.com/media/2021/11/Golden-Retriever.jpg); height: 130vh;">
    <div class="container">
      <h2>Here's how Petzr works</h2>
      <h3>Search and connect with trusted pet sitters. It's easy as 1, 2, 3</h3>
      <br>
      <br>
      <br>
      <div>
        <div>
          <p>1. Find a verified pet sitter</p>
          <img height="60px" width="60px" src="https://i.ibb.co/sWzVGgN/search.png" alt="Find">
        </div>
        <br>
        <div>
          <p>2. Arrange a meet & greet</p>
          <img height="60px" width="90px" src="https://i.ibb.co/cYktZTf/meet.png" alt="Arrange">
        </div>
        <br>
        <div>
          <p>3. Pay online</p>
          <img height="60px" width="60px" src="https://i.ibb.co/j3JvV1F/pay.png" alt="Pay">
        </div>
      </div>
      <br>
      <%= link_to "Book a pet sitter here !", users_path, class: "btn btn-green"  %>
    </div>
  </div>
</div>
