.btn-green {
  color: white !important;
  padding: 8px 24px;
  border-radius: 4px;
  background: #04ddf1;
  transition: opacity 0.3s ease;
  align-items: center;
  margin-bottom: 2%;
}

.btn-green:hover {
  background: #21ecff;
  color: white;
}

.btn-blue {
  color: white !important;
  border-radius: 4px;
  background: #0D6EFD;
  border: 0px !important;
  padding: 2px 6px;
  font-weight: lighter;
  font-size: 13px;
  opacity: 1;
  transition: opacity 0.3s ease;
  align-items: center;
  margin-top: 2%;
}
.btn-red {
  color: white !important;
  border-radius: 4px;
  background: red;
  padding: 2px 6px;
  font-weight: lighter;
  font-size: 13px;
  opacity: 0.9;
  align-items: center;
  margin-top: 2%;
  border: 0px !important;
}


.btn-blue:hover {
  opacity: 1;
  background: #5f93e0;
  color: white;
}
.btn-red:hover {
  background: darkred;
  color: white;
}

#badge {
  font-size: 14px;
}
