.btn-green {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #04DDF190;
  transition: opacity 0.3s ease;
  align-items: center;
  margin-bottom: 2%;


}

.btn-green:hover {
  background: #04DDF1;
  color: white;
}

.btn-blue {
  color: white;
  border-radius: 4px;
  background: #1400F5;
  border: 1px solid #4A4A4A;
  padding: 2px 6px;
  font-weight: lighter;
  font-size: 10px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  align-items: center;
  margin-bottom: 3%;
}


.btn-blue:hover {
  background: #1205a8;
  color: white;
}
