.btn-green {
  color: white !important;
  padding: 8px 24px;
  border-radius: 4px;
  background: #04ddf1;
  transition: opacity 0.3s ease;
  align-items: center;
  margin-bottom: 2%;
  opacity: 1;
}

.btn-home {
  color: white !important;
  padding: 8px 24px;
  border-radius: 4px;
  background: #04ddf19e;
  transition: opacity 0.3s ease;
  align-items: center;
  margin-bottom: 2%;
  // opacity: 0.6 !important;
}
.btn-home:hover {
  background: #21ecff;
  color: white;
  opacity: 1;
}
.btn-green:hover {
  background: #21ecff;
  color: white;
  opacity: 1;
}

.btn-blue {
  color: white !important;
  border-radius: 4px;
  background: #04ddf1;
  border: 0px !important;
  padding: 2px 6px;
  font-weight: lighter;
  font-size: 13px;
  opacity: 1;
  transition: opacity 0.3s ease;
  align-items: center;
  margin-top: 2%;
}
.btn-red {
  color: white !important;
  border-radius: 4px;
  background: #ff5555;
  padding: 2px 6px;
  font-weight: lighter;
  font-size: 13px;
  opacity: 0.9;
  align-items: center;
  margin-top: 2%;
  border: 0px !important;
}


.btn-blue:hover {
  opacity: 1;
  background: #38eeff;
  color: white;
}
.btn-red:hover {
  background: #f60808;
  color: white;
}

#badge {
  font-size: 12 px;
}

.show-more-btn {
  text-decoration: none;
  color: #484747;
  border: 1px solid #343434;
  padding: 6px 9px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  text-align: center;
  width: fit-content;
}
.show-more-btn:hover {
  text-decoration: none;
  opacity: 1;
}
