.card-trip {
  // overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 0% 2% 2% 2%;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  // min-height: 500px;
  padding-bottom: 3px;
}
.card-trip-profile {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 0% 2% 2% 0%;
  border-radius: 1%;
  padding-bottom: 6%;
  // padding-left: 6%;
  min-width: 500px;
}

.card-trip-profile .card-trip-infos {
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  color: #545955;
  font-size: 20px;
  opacity: .9;
}

.card-trip .card-trip-infos a {
  color: #545955;
  text-decoration: none;
}
.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 20px;
  font-weight: bolder;
  color: #545955;
  padding-bottom: 3px;
}

.card-trip p {
  font-size: 13px;
  opacity: 1;
  margin: 2px;
}

// .card-trip a {
//   text-decoration: none;
//   color: #484747;
//   border: 1px solid #343434;
// //   padding: 8px 24px;
// //   border-radius: 1px;
// //   font-size: 13px;
// //   font-weight: lighter;
// //   // opacity: 0.6;
// //   transition: opacity 0.3s ease;
// // }

// .card-trip a:hover {
//   color: grey;
// }

#show-more-users {
  margin-top: 3%;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  color: #545955;
  font-size: 20px;
  opacity: .9;
}

.card-trip-infos-users {
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip .card-trip-infos-user-show {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2%;
  margin-top: 1%;
}




.card-trip .status {
  top: 5px;
  left: 5px;
}

/// map edition

.card-trip-map .card-trip-infos-map {
  display: flex;
  flex-direction: row;
  position: relative;
}


.card-trip-infos-map .card-trip-user-map {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}


.card-trip-index {
  display: flex !important;
  flex-direction: row !important;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 5%;
  flex-grow: 1;
}

.card-trip-index-title {
  // width: 200px !important;
  padding-bottom: 3%;
  p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 13px;
    opacity: 1;
    margin: 2px;
    text-overflow: ellipsis;
  }
}

.card-trip-index-infos {
  width: 300px !important;
  strong {
    text-overflow: ellipsis;
    overflow: hidden;
  }
  }

  .card-trip-index-booking {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2%;
    width: 350px;
    }

  .card-trip-index-booking h6 {
    color: black;
    margin-block-start: 0!important;
    }

  #new_contract {
    grid-column: 1/ span 1;
  }
  .card-trip-pricing {
    align-self: flex-end;
    text-align: right;
  }
