.log {
  padding-top: 2%;
  display:flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 12%;
}

.log-special {
  padding-top: 2%;
  display:flex;
  align-items: center;
  flex-direction: column;
}


.log_btn {
  text-align: center;
}

.forced-columns {
  display: flex;
  flex-direction: column;
}

.form-actions {
  text-align: center;
}
