.navbar-lewagon {
  justify-content: space-between;
  background: rgba(68, 68, 68, 0.4);
  position: sticky;
  top: 0;
  width: 100%;
  z-index:10;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.882);
  margin-left: 20px ;
  margin-right: 40px ;
}
