h2 {
color: white;
text-shadow: 1px 1px 3px rgb(0 0 0 / 20%);
font-size: 32px;
font-weight: bold;}
 h1 {
  text-shadow: 1px 1px 3px rgb(0 0 0 / 20%);
  font-size: 32px;
  font-weight: bold;
 }
* {
  background-color: #6d755f;
}
