h1 {
color: white;
text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
font-size: 32px;
font-weight: bold;
}

 h2 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  color: white;
  opacity: 1;
}
 a {
  color: white,
 }
 p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #545955;
}
