<div class="wrapper-footer">
<div class="log">
  <h1>Happy for your pet sitter, review him!</h1>
  <%= simple_form_for([@recipient, @review], data: {controller: 'stars'}) do |f|%>
  Let your comment
    <%= f.input :comment, label: false %>
    <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", input_html: {data: {stars_target: 'input' }} %>
      <div class="form-actions">
        <%= f.button :submit, "Send my review", class: "btn-green" %>
      </div>
  <% end %>
 </div>
</div>
