<div class="log">
  <h1>Happy for your pet sitter, review him!</h1>
  <%= simple_form_for([@receiver, @review]) do |f|%>
    <%= f.input :comment %>
    <%= f.input :rating %>
    <div class="log_btn">
      <div class="form-actions btn btn-ghost">
        <%= f.button :submit, "Send my booking"%>
      </div>
    </div>
  <% end %>
 </div>
